.nav-bar header ul  {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.nav-bar header ul li {
  padding: 0px 10px 0px 10px;
}

.nav-bar header ul li:hover {
  background-color: navajowhite;
}