body {
  background-color: navajowhite;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Micro 5", sans-serif;
  font-size: 22px;
}


.effect {
  background-color: plum;
  padding-left: 20px;
  height: 300px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: 10px 20px 0px 20px;
  width: 300px;
  display: inline-block;
}

.effect h1 {
  display: inline-block;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#profile img {
  width: 30px;
  height: auto;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
 
}

.pro-plate {
  display: flex;
  flex-direction: row;
}